<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>

<body>
    <h1>Contact</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero, odit facilis odio laudantium quae tempora illum! Culpa minus, ducimus iusto ipsa quo quod consequatur quam tempora minima qui at quasi, sequi architecto maxime officia repellendus odit
        nostrum libero rem hic. Facilis magnam provident blanditiis alias sed debitis, libero aliquid aliquam itaque error voluptatum explicabo quis labore deserunt saepe vero iusto reprehenderit ab nostrum! Nihil fugit non excepturi eligendi, deleniti
        corrupti repellendus neque libero hic eius maxime laudantium ullam, ab est veniam dolor minima necessitatibus! Explicabo beatae quas provident expedita eius temporibus voluptatibus tenetur? Temporibus ratione consequatur suscipit possimus, labore
        voluptas.</p>
</body>

</html>